@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./components/index.css";

body {
  font-family: var(--font-opensans), monospace;
  font-weight: 400;
  background-color: #f7f8ff;
  color: #171717;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

*:focus {
  outline-color: rgb(0, 0, 0);
}
